@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');


.webcam{
    
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#webcam{
    margin-top: -60px;
}

body{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
    color: rgba(152, 240, 63, 0.548);
}

h1{
    font-family: "Bytesized", sans-serif;
    text-align: center;
    /* font-size: 40px; */
}
 .emote{
    margin-top: -30px;
 }