/* @import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');


.webcam{
    
margin: 0;
padding: 0;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#webcam{
    margin-top: -60px;
}

body{
    background: linear-gradient(360deg, #1e1d1d 0%, #ad0e3c 35%, #ff1345 100%);
    
    color: rgba(152, 240, 63, 0.548);
}

h1{
    /* font-family: "Bytesized", sans-serif; */
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}
 .emote{
    margin-top: -30px;
 }